name: build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: "build"
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 1
      - name: setup java 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
          overwrite-settings: false
      - name: setup maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.8.1
      - name: compile and test
        run: |
          mvn clean test